name: Workshop
run-name: testing workflows 
on: [push]
jobs:
  demo_job:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello World"
      - name: Checkout
        uses: actions/setup-dotnet@v5.0.1
